## Converting between types

Sometimes, we'll get string data that should be treated as a number, or vice versa. We can use the `str()`, `int()` and `float()` functions to convert between data types. If the argument to the type conversion function is not valid in the target data type, Python will produce an error.

## Contents:
1. String to integer
2. String to float
3. Float and int to string

#### String to integer

In [1]:
int('17')

17

In [2]:
int('17.4')

ValueError: invalid literal for int() with base 10: '17.4'

In [3]:
int('me')

ValueError: invalid literal for int() with base 10: 'me'

#### String to float

In [4]:
float('892')

892.0

In [5]:
float('you')

ValueError: could not convert string to float: 'you'

#### Float and int to string

In [6]:
str(37.5)

'37.5'

In [7]:
str(20)

'20'

In [8]:
'20' + str(37.5)

'2037.5'

## Exercise
Fix the error in the previous notebook example:

In [9]:
'The year is ' + 2020

TypeError: can only concatenate str (not "int") to str

In [10]:
'The year is ' + str(2020)

'The year is 2020'